button {
    height: 50px;
    margin: 5px;
    background: linear-gradient(0deg, #4EA4DC -874.3%, #2BAFDE 180.3%);
    border-color: #18476B;
    color: white;
    font-size: 20px;
    border-radius: 6px;
}

button:hover:active {
    background: #1375b5;
}

button:hover {
    background: #8fc4e6;
}